openapi: 3.0.3
info:
  title: Paymob Accept Legacy (v2) Accounts API
  version: '2.0'
  description: 'The legacy Paymob Accept API uses a three-step flow: authenticate to receive a bearer auth_token, register an order, then request a payment_key. The payment_key is used either with the iframe redirect or the headless /payments/pay endpoint. Refund, void, capture, transaction inquiry, and saved-card MOTO operations are exposed on this surface.'
  contact:
    name: Paymob Developers
    url: https://developers.paymob.com
servers:
- url: https://accept.paymob.com
  description: Egypt production
- url: https://ksa.paymob.com
  description: Saudi Arabia production
- url: https://uae.paymob.com
  description: UAE production
- url: https://oman.paymob.com
  description: Oman production
- url: https://pakistan.paymob.com
  description: Pakistan production
security:
- BearerAuth: []
tags:
- name: Accounts
paths:
  /disburse/api/v1/budget/inquire/:
    get:
      summary: Budget Inquiry
      operationId: budgetInquiry
      tags:
      - Accounts
      description: Inquire current balance/budget available to the merchant for payouts.
      responses:
        '200':
          description: Budget details
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_balance:
                    type: number
                  currency:
                    type: string
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer auth_token from /api/auth/tokens (60-minute TTL).
