openapi: 3.2.0
info:
  title: Paymob Payouts (Send) Disbursement API
  version: '1.0'
  description: Paymob Send is the mass-payout product used to disburse funds to suppliers, employees, gig workers, and consumers via mobile wallets, bank cards, and bank transfers across the MENAP region. The API uses OAuth2 (Generate & Refresh Token) to mint a 60-minute bearer token, supports instant cash-in, bulk transfer, topup, budget inquiry, and bulk transaction inquiry by reference, and delivers status updates via callback URLs.
  contact:
    name: Paymob Payouts
    url: https://payouts.paymobsolutions.com/docs/
servers:
- url: https://payouts.paymobsolutions.com
  description: Production
- url: https://stg-payouts.paymobsolutions.com
  description: Staging
security:
- BearerAuth: []
tags:
- name: Disbursement
paths:
  /disburse/api/v1/disburse/instant_cashin/:
    post:
      summary: Instant Cashin
      operationId: instantCashin
      tags:
      - Disbursement
      description: Disburse e-money to anonymous recipients. Issuer choices include vodafone, etisalat, orange, bank_wallet, bank_card, and instant_bank.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantCashinRequest'
      responses:
        '200':
          description: Disbursement accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisbursementResponse'
  /disburse/api/v1/disburse/bulk_transaction/:
    post:
      summary: Bulk Disbursement
      operationId: bulkDisbursement
      tags:
      - Disbursement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - transactions
              properties:
                transactions:
                  type: array
                  items:
                    $ref: '#/components/schemas/InstantCashinRequest'
      responses:
        '200':
          description: Bulk accepted
  /disburse/api/v1/bulk_transaction/inquire/:
    post:
      summary: Bulk Transaction Inquiry
      operationId: bulkTransactionInquiry
      tags:
      - Disbursement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - transactions_ids
              properties:
                transactions_ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Status list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisbursementResponse'
  /disburse/api/v1/bulk_transaction/inquire_by_reference/:
    post:
      summary: Bulk Transaction Inquiry By Reference
      operationId: bulkTransactionInquiryByReference
      tags:
      - Disbursement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - references
              properties:
                references:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Status list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisbursementResponse'
components:
  schemas:
    DisbursementResponse:
      type: object
      properties:
        transaction_id:
          type: string
        status:
          type: string
          enum:
          - pending
          - successful
          - failed
        amount:
          type: number
        msisdn:
          type: string
        reference:
          type: string
        disbursement_status:
          type: string
        created_at:
          type: string
          format: date-time
    InstantCashinRequest:
      type: object
      required:
      - issuer
      - amount
      - msisdn
      properties:
        issuer:
          type: string
          enum:
          - vodafone
          - etisalat
          - orange
          - bank_wallet
          - bank_card
          - instant_bank
        amount:
          type: number
        msisdn:
          type: string
          description: Mobile number for wallet issuers.
        full_name:
          type: string
        bank_card_number:
          type: string
        bank_code:
          type: string
        bank_transaction_type:
          type: string
          enum:
          - salary
          - credit_card
          - prepaid_card
          - cash_transfer
        reference:
          type: string
        callback_url:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
