openapi: 3.2.0
info:
  title: Paymob Payouts (Send) Topup API
  version: '1.0'
  description: Paymob Send is the mass-payout product used to disburse funds to suppliers, employees, gig workers, and consumers via mobile wallets, bank cards, and bank transfers across the MENAP region. The API uses OAuth2 (Generate & Refresh Token) to mint a 60-minute bearer token, supports instant cash-in, bulk transfer, topup, budget inquiry, and bulk transaction inquiry by reference, and delivers status updates via callback URLs.
  contact:
    name: Paymob Payouts
    url: https://payouts.paymobsolutions.com/docs/
servers:
- url: https://payouts.paymobsolutions.com
  description: Production
- url: https://stg-payouts.paymobsolutions.com
  description: Staging
security:
- BearerAuth: []
tags:
- name: Topup
paths:
  /disburse/api/v1/topup/request/:
    post:
      summary: Topup Request
      operationId: topupRequest
      tags:
      - Topup
      description: Initiate a topup via bank transfer or Accept balance transfer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - transfer_type
              properties:
                amount:
                  type: number
                transfer_type:
                  type: string
                  enum:
                  - bank_transfer
                  - accept_balance
                reference:
                  type: string
      responses:
        '200':
          description: Topup created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopupResponse'
  /disburse/api/v1/topup/inquire/:
    post:
      summary: Topup Inquiry
      operationId: topupInquiry
      tags:
      - Topup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reference:
                  type: string
      responses:
        '200':
          description: Topup status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopupResponse'
components:
  schemas:
    TopupResponse:
      type: object
      properties:
        topup_id:
          type: string
        status:
          type: string
        amount:
          type: number
        transfer_type:
          type: string
        reference:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
