openapi: 3.0.3
info:
  title: Paymob Accept Legacy (v2) Accounts Subscriptions API
  version: '2.0'
  description: 'The legacy Paymob Accept API uses a three-step flow: authenticate to receive a bearer auth_token, register an order, then request a payment_key. The payment_key is used either with the iframe redirect or the headless /payments/pay endpoint. Refund, void, capture, transaction inquiry, and saved-card MOTO operations are exposed on this surface.'
  contact:
    name: Paymob Developers
    url: https://developers.paymob.com
servers:
- url: https://accept.paymob.com
  description: Egypt production
- url: https://ksa.paymob.com
  description: Saudi Arabia production
- url: https://uae.paymob.com
  description: UAE production
- url: https://oman.paymob.com
  description: Oman production
- url: https://pakistan.paymob.com
  description: Pakistan production
security:
- BearerAuth: []
tags:
- name: Subscriptions
paths:
  /api/acceptance/subscriptions/{subscription_id}:
    get:
      summary: Retrieve Subscription
      operationId: retrieveSubscription
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
    put:
      summary: Update Subscription
      operationId: updateSubscription
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
  /api/acceptance/subscriptions/{subscription_id}/suspend:
    post:
      summary: Suspend Subscription
      operationId: suspendSubscription
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: Suspended
  /api/acceptance/subscriptions/{subscription_id}/resume:
    post:
      summary: Resume Subscription
      operationId: resumeSubscription
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: Resumed
  /api/acceptance/subscriptions/{subscription_id}/cancel:
    post:
      summary: Cancel Subscription
      operationId: cancelSubscription
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: Cancelled
  /api/acceptance/subscriptions/{subscription_id}/last-transaction:
    get:
      summary: Get Last Subscription Transaction
      operationId: getLastSubscriptionTransaction
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: Last transaction
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/acceptance/subscriptions/{subscription_id}/transactions:
    get:
      summary: List Subscription Transactions
      operationId: listSubscriptionTransactions
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: Transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /api/acceptance/subscriptions/{subscription_id}/card-tokens:
    get:
      summary: List Subscription Card Tokens
      operationId: listSubscriptionCardTokens
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: Card tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
components:
  schemas:
    Subscription:
      type: object
      properties:
        id:
          type: string
        plan_id:
          type: string
        status:
          type: string
          enum:
          - active
          - suspended
          - cancelled
          - expired
        starts_at:
          type: string
          format: date-time
        next_billing_date:
          type: string
          format: date-time
        card_token:
          type: string
        primary_email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
  parameters:
    SubscriptionId:
      name: subscription_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer auth_token from /api/auth/tokens (60-minute TTL).
