openapi: 3.2.0
info:
  title: Paymob Authentication API
  version: '1.0'
  description: 'Operations tagged Authentication across 2 of this provider''s published API definitions: paymob-accept-api-openapi.yml, paymob-payouts-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://accept.paymob.com
  description: Egypt production
- url: https://ksa.paymob.com
  description: Saudi Arabia production
- url: https://uae.paymob.com
  description: UAE production
- url: https://oman.paymob.com
  description: Oman production
- url: https://pakistan.paymob.com
  description: Pakistan production
- url: https://payouts.paymobsolutions.com
  description: Production
- url: https://stg-payouts.paymobsolutions.com
  description: Staging
security:
- BearerAuth: []
tags:
- name: Authentication
paths:
  /api/auth/tokens:
    post:
      summary: Authenticate Merchant
      operationId: createAuthToken
      tags:
      - Authentication
      description: Exchange the merchant API key for a short-lived auth_token (60 minutes).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - api_key
              properties:
                api_key:
                  type: string
      responses:
        '201':
          description: Token created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  profile:
                    type: object
                    additionalProperties: true
    servers:
    - url: https://accept.paymob.com
      description: Egypt production
    - url: https://ksa.paymob.com
      description: Saudi Arabia production
    - url: https://uae.paymob.com
      description: UAE production
    - url: https://oman.paymob.com
      description: Oman production
    - url: https://pakistan.paymob.com
      description: Pakistan production
  /api/auth/token/:
    post:
      summary: Generate Access Token
      operationId: generatePayoutsToken
      tags:
      - Authentication
      description: Generate an OAuth2 access token. Token must be refreshed every 60 minutes.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - username
              - password
              - grant_type
              - client_id
              - client_secret
              properties:
                grant_type:
                  type: string
                  enum:
                  - password
                username:
                  type: string
                password:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
    servers:
    - url: https://payouts.paymobsolutions.com
      description: Production
    - url: https://stg-payouts.paymobsolutions.com
      description: Staging
  /api/auth/token/refresh/:
    post:
      summary: Refresh Access Token
      operationId: refreshPayoutsToken
      tags:
      - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - refresh_token
              - grant_type
              - client_id
              - client_secret
              properties:
                grant_type:
                  type: string
                  enum:
                  - refresh_token
                refresh_token:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
    servers:
    - url: https://payouts.paymobsolutions.com
      description: Production
    - url: https://stg-payouts.paymobsolutions.com
      description: Staging
components:
  schemas:
    Token:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
        token_type:
          type: string
        scope:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer auth_token from /api/auth/tokens (60-minute TTL).
x-refined-from:
- paymob-accept-api-openapi.yml
- paymob-payouts-api-openapi.yml
